<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP APP | Register Page</title>
</head>
<body>
    <h1>NLP App</h1>

    <h3>Register Here</h3>

    <form action="">
        <label>Username</label><br>
        <input type="text" name="username" placeholder="Enter your username"><br>
        <label>Email</label><br>
        <input type="email" name="email" placeholder="Enter your email"><br>
        <label>Password</label><br>
        <input type="password" name="password" placeholder="Enter your password"><br><br>
        <input type="submit" value="Login">
    </form>

    <p>Already have an account? <a href="/">Login Here</a></p>

</body>
</html>